@media (max-width: 768px){
  .media{
    &__contenido{
      &-img{
        height: 300px;
        width: 200px;
      }
    }

  }
  .info{
    &__texto{
      &-titulo{
        text-align: center;
      }
    }
    &__img{
      margin: 0;
      padding: 5px;
      width: fit-content;
      img{
        height: 150px;
        width: 150px;
      }
      &-responsive{
        display: inline-block;
      }
      &-desktop{
        display: none;
      }
    }
  }
  .col-sm-6{
    width: fit-content;
  }
}

@media (max-width: 383px){
  .media{
    &__contenido{
      &-img{
        height: 250px;
        width: 167px;
      }
    }
  }
  .info{
    &__img{
      margin: 0;
      padding: 5px;
      width: fit-content;
      img{
        height: 125px;
        width: 125px;
      }
    }
  }
}