footer {
  background-color: $azulOscuro;
  height: 108px;
  margin-top: 50px;
}
.footer{
  &__menu{
    @include flex (row, space-between, center);
    max-width: 1080px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
  }

  &__cyl{
    margin-top: 5px;
  }

  &__contenido{
    &-texto{
      color: $azulClaro;
      margin-top: 50px;
    }
  }

  &__inicio{
    &-link{
      color: rgb(217, 48, 48);
      font-weight: bold;
      margin-left: 25px;
    }
  }
}


