$azulOscuro:rgb(40, 46, 64);
$azulClaro:rgb(156, 166, 196);
$negroFilm:rgb(13, 13, 13);


@mixin flex ($flexDirection, $justifyContent, $alignItems){
  display: flex;
  @if $flexDirection != row {flex-direction: $flexDirection;}
  @if $justifyContent != flex-start {justify-content: $justifyContent;}
  @if $alignItems != stretch {align-items: $alignItems;}
}

// @include flex (row, flex-start, stretch);

@mixin grid ($alignContent, $justifyContent, $rowGap, $columnGap, $gridColumns, $gridRows){
  display: grid;
  @if $alignContent != stretch {align-content: $alignContent;}
  @if $justifyContent != flex-start{justify-content: $justifyContent;}
  @if $rowGap != 0 {row-gap: $rowGap;}
  @if $columnGap != 0 {column-gap: $columnGap;}
  @if $gridColumns != none{grid-template-columns: $gridColumns;}
  @if $gridRows != none {grid-template-rows: $gridRows;}
}

// @include grid (stretch, flex-start, 0, 0, none, none);